 /*Commutifi color palette, obtained with the help of the following resource https://alwane.io/

/* Greenish cyan */
$greenishCyan-100: #edf8f5;
$greenishCyan-200: #77d7c8;
$greenishCyan-300: #29c1aa;
$greenishCyan-400: #00c2a4;
$greenishCyan-500: #27b8a2;
$greenishCyan-600: #1ebea5;
$greenishCyan-700: #1dbea5;
$greenishCyan-800: #1cb39b;
$greenishCyan-900: #19a38c;
$greenishCyan-1000: #0eac96;



 /* Cyan */
 $cyan-100: #d9e8ea;
 $cyan-200: #d8e8ea;
 $cyan-300: #d0e9ea;
 $cyan-400: #c0d9dc;
 $cyan-500: #128c7e;
 $cyan-600: #0c787b;
 $cyan-700: #075e54;
 $cyan-800: #19908E;
 $cyan-900: #051A15;

 /*Additional colors */
 /* Blue violet */
  $blueViolet-100: #475065;
  $blueViolet-200: #19253d;
  $blueViolet-300: #18243e;

  /* Gray */
  $gray-100: #ffffff;
  $gray-200: #f5f5f5;
  $gray-300: #f3f3f3;
  $gray-400: #eeeef6;
  $gray-500: #ebf0f3;
  $gray-600: #e4e4e4;
  $gray-700: #d8d8d8;
  $gray-800: #cdc9c7;
  $gray-900: #bdbdbd;
  $gray-1000: #b9bbbf;
  $gray-1100: #3f3f3f;
  $gray-1200: #000000;

  /* Khaki */
  $khaki-100: #eee3cb;
  $khaki-200: #be9b5f;
  $khaki-300: #94743c;

  /* Scarlet red */
  $scarletRed-100: #fd3946;
  $scarletRed-200: #dc3545;
  $scarletRed-300: #5e2428;

  /* Blue */
  $blue-100: #d8e0e5;
  $blue-200: #ced4da;
  $blue-300: #6589b0;
  $blue-400: #003b7c;
  $blue-500: #053d7a;
  $blue-600: #092030;
  $blue-700: #0f3c5c;

