@import '../utils/_breakpoints.scss';
@import '../utils/_mixins.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.5em;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  margin: 0.5em;

  h3 {
    text-align: center;
  }
}

.days {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: row;
}