@import '../utils/_breakpoints.scss';
@import '../utils/_mixins.scss';

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 2em 2em;
    text-align: center;
    border-radius: 1em;
    border: 2px solid black;
    width: 300px;
    outline: none;
    &focus {
      outline: none;
    }
  }

  #dd {
    min-height: 25px;
    max-height: 25px;
    overflow: hidden;
    width: 500px;
    margin: 0.5em;
    text-align: center;
  }
}