@import '../utils/_breakpoints.scss';
@import '../utils/_mixins.scss';

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 1em 2em;
    text-align: center;
  }
}