@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@230;400;601&family=Saira+Condensed:wght@400;600&display=swap');

$containerPadding: 64px;
$containerPaddingMd: 32px;
$containerPaddingSm: 24px;
$containerBorderRadius: 8px;
$containerBoxShadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
