@import './variables.scss';

.card {
    @include flex-align-center($direction: row);
    margin: 1rem;
    padding: 1rem;
    flex-basis: 100%;

    &>* {
        margin: 0.7rem;
    }
}

.card__daytime {
    @include flex-align-center($direction: row);

    &>* {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }
}