@import './variables.scss';

.card {
    @include flex-align-center($direction: row);
    background-color: transparent !important; 
    border: 3px solid black !important;
    margin: 1rem;
    padding: 1rem;
    flex-basis: 100%;

    &>* {
        margin: 0.7rem;
    }
}

.card__daytime {
    @include flex-align-center($direction: row);

    &>* {
        @include flex-align-center($direction: column);
        margin: 0.5rem;
    }
}

.card_night_item, .card_day_item {
    &.red {
        color: red;
    }

    &.yellow {
        color: yellow;
    }

    &.blue {
        color: blue;
    }
}